@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
        font-family: 'Muli', sans-serif;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
}

html {
        scroll-behavior: smooth;
      }
.nav-items{
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin-top: 3px;


}

.navbar{
        background-color: gray;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 70px;
        padding-top: 20px;



}


a{
        text-decoration: none;
        color: black    ;
}

#home{
        margin-left: 15px;
        margin-top: 50px;
        display: flex;
}

#home h1{
        font-size: 19px;
}

#home .home-text{
        margin-top: 70px;
        margin-left: 40px;
}
#home .home-text h3{
        font-size: 15px;
        margin-top: 40px;
        color: gray;
}

.info{
        margin-top: 70px;
}
.info h1{
        font-size: 20px;
        margin-left: 3.5%;
}

img{
        width: 50%;
}

.images img{
        width: 140px;
}

.images{
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-bottom: 50px;
}

.benefits{
        width: 180px;
        text-align: center;
}
.benefits h3{
        font-size: 14px;
        color: gray;
}
#about{
        margin-top: 40px;
        text-align: center;
}
#about img{
        margin-top: 65px;
        width: 40%;
        height: 350px;}

.sub-about{
        display: flex;
}
.idea{
        width: 50%;
        margin-top: 100px;
        padding: 70px;
}

.idea h3{
        color:gray;

}